.restaurant--picture {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.header-logo {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
  img {
    width: 170px;
  }
  i {
    font-size: 20px;
    position: absolute;
    left: 20px;
  }
}
