body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

h4 {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 400;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

.text-light {
  font-weight: 100;
  font-size: 16px;
}

* {
  margin: 0;
}

body {
  position: relative;
}

@keyframes loader {
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    display: none;
  }
}
@keyframes progressive-display {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
  }
}
.restaurant--picture {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .restaurant--picture {
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurant--picture {
    height: 350px;
  }
}

.header-logo {
  width: 100%;
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2);
}
.header-logo img {
  width: 170px;
}
.header-logo a {
  position: absolute;
  left: 20px;
}
.header-logo a i {
  font-size: 20px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 24px;
  gap: 16px;
}
footer i {
  margin-right: 8px;
}
footer p {
  font-family: "Shrikhand", sans-serif;
}

.btn {
  display: block;
  color: white;
  font-size: 16px;
  margin: 16px auto;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(176deg, #ff79da 1%, #9356dc 99%);
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 32px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(176deg, #ff88de 1%, #9b63df 99%);
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.18);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.btn--wide {
  width: 190px;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.card {
  border-radius: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 0px;
  gap: 20px;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 60%;
  }
}
.card__num-round {
  border-radius: 50%;
  background-color: #9356dc;
  padding: 4px 8px;
  color: white;
  font-size: 15px;
  margin-left: -10px;
}
.card__icon {
  color: #7e7e7e;
  font-size: 20px;
}
.card:hover {
  background-color: #f5edff;
}
.card:hover .icon-color {
  color: #9356dc;
}

.imgcard {
  border-radius: 26px;
  height: 260px;
  background-color: white;
  margin-bottom: 18px;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
}
.imgcard__picture {
  position: relative;
}
.imgcard img {
  height: 185px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.imgcard__text {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgcard .label {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #98e2d0;
  color: #008766;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
}
.imgcard i {
  font-size: 24px;
}
.imgcard i:hover {
  color: #9356dc;
}

.menu-card {
  background-color: white;
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: progressive-display 600ms backwards;
}
.menu-card--1 {
  animation-delay: 200ms;
}
.menu-card--2 {
  animation-delay: 400ms;
}
.menu-card--3 {
  animation-delay: 600ms;
}
.menu-card__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-card__details__text {
  padding: 12px;
  width: 100px;
  flex: 1;
}
.menu-card__details__text h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__details__text p {
  font-weight: 100;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-card__details__price {
  padding: 12px 16px;
  display: flex;
  align-items: flex-end;
}
.menu-card__details:hover + .menu-select {
  transform: translateX(0);
  width: 80px;
  transition: all 0.3s;
}
.menu-card__details:hover + .menu-select i {
  transform: rotate(0turn);
}

.menu-select {
  background-color: #99e2d0;
  border-radius: 0 16px 16px 0;
  display: flex;
  align-items: center;
  transform: translateX(80px);
  width: 0px;
  transition: all 0.3s;
}
.menu-select i {
  transform: rotate(-1turn);
  transition: transform 300ms 250ms ease-in-out;
  margin: 20px 24px;
  color: white;
  font-size: 20px;
}

.heart {
  height: 32px;
  fill: transparent;
  stroke: black;
  stroke-width: 1px;
  transition: fill 200ms, stroke 1ms;
}
.heart:hover {
  fill: url(#gradient-horizontal) #9356dc;
  stroke-width: 0px;
}

#gradient-horizontal {
  --color-stop-1: #9356dc;
  --color-stop-2: #b261dd;
  --color-stop-3: #ff79da;
}

.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(176deg, #ff79da 1%, #9356dc 99%);
  animation: loader 1s 2s ease-out forwards;
  z-index: 10;
}

.lds-roller {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-roller .roller {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite forwards;
  transform-origin: 40px 40px;
}
.lds-roller .roller--1 {
  animation-delay: -0.036s;
}
.lds-roller .roller--2 {
  animation-delay: -0.072s;
}
.lds-roller .roller--3 {
  animation-delay: -0.108s;
}
.lds-roller .roller--4 {
  animation-delay: -0.144s;
}
.lds-roller .roller--5 {
  animation-delay: -0.18s;
}
.lds-roller .roller--6 {
  animation-delay: -0.216s;
}
.lds-roller .roller--7 {
  animation-delay: -0.252s;
}
.lds-roller .roller--8 {
  animation-delay: -0.288s;
}
.lds-roller .roller::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller .roller:nth-child(1)::after {
  top: 63px;
  left: 63px;
}
.lds-roller .roller:nth-child(2)::after {
  top: 68px;
  left: 56px;
}
.lds-roller .roller:nth-child(3)::after {
  top: 71px;
  left: 48px;
}
.lds-roller .roller:nth-child(4)::after {
  top: 72px;
  left: 40px;
}
.lds-roller .roller:nth-child(5)::after {
  top: 71px;
  left: 32px;
}
.lds-roller .roller:nth-child(6)::after {
  top: 68px;
  left: 24px;
}
.lds-roller .roller:nth-child(7)::after {
  top: 63px;
  left: 17px;
}
.lds-roller .roller:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #e9eaea;
  padding: 16px;
  box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2), inset 0px -9px 9px -11px rgba(0, 0, 0, 0.1);
}
.location p {
  margin-left: 16px;
}

.shop-banner {
  text-align: center;
  padding: 40px 24px;
  background-color: #f6f6f6;
}

.functionning-banner {
  padding: 40px 24px;
}
.functionning-banner h2 {
  margin-bottom: 2rem;
}
.functionning-banner__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  .functionning-banner__cards {
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .functionning-banner__cards {
    align-items: center;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px 24px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 992px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.restaurant {
  background-color: #f6f6f6;
  border-radius: 42px 42px 0 0;
  margin-top: -50px;
  position: relative;
  padding: 32px 16px;
}
@media screen and (min-width: 992px) {
  .restaurant {
    padding: 32px 48px;
  }
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", cursive;
  padding-right: 18px;
}
@media screen and (min-width: 992px) {
  .restaurant__title {
    justify-content: flex-start;
    gap: 32px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 992px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }
}
.menu h3 {
  font-weight: 100;
  font-size: 16px;
  padding: 6px 0;
  position: relative;
  display: inline-block;
}
.menu h3:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99e2d0;
}
.menu__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*# sourceMappingURL=style.css.map */
