button {
  display: block;
  color: white;
  font-size: 16px;
  margin: 16px auto;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(176deg, $secondary-color 1%, $primary-color 99%);
  box-shadow: $box-shadow;
  transition: box-shadow 300ms, background 250ms;
  &:hover {
    box-shadow: 4px 4px 8px 2px rgb(0, 0, 0, 0.18);
    background: linear-gradient(
      176deg,
      lighten($secondary-color, 3%) 1%,
      lighten($primary-color, 3%) 99%
    );
  }
}

.btn--wide {
  width: 190px;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
