.heart {
  height: 32px;
  fill: transparent;
  stroke: black;
  stroke-width: 1px;
  &:hover {
    fill: url(#gradient-horizontal) #9356dc;
    stroke-width: 0px;
  }
}

#gradient-horizontal {
  --color-stop-1: #9356dc;
  --color-stop-2: #b261dd;
  --color-stop-3: #ff79da;
}
