.location {
    display: flex;
    justify-content: center;
    background-color: $dark-grey;
    padding: 16px;
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2),
      inset 0px -9px 9px -11px rgba(0, 0, 0, 0.1);
    p {
      margin-left: 16px;
    }
  }

.shop-banner {
  text-align: center;
  @include grey-container;
}


.functionning-banner {
  padding: $banner-padding;
  h2 {
    margin-bottom: 2rem;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include desktop-only {
      flex-direction: row;
      justify-content: space-around;
      gap: 4rem;
    }
    @include tablet-only {
      align-items: center;
    }
  }
}

// Restaurant container
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include grey-container;
  &__cards {
    @include desktop-only {
      @include grid(4, 2rem);
    }
    @include tablet-only {
      @include grid(2, 2rem);
    }
  }
}
