.home {
  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-grey;
    padding: 16px;
    box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.2),
      inset 0px -9px 9px -11px rgba(0, 0, 0, 0.1);
    p {
      margin-left: 16px;
    }
  }
  &__shop-banner {
    text-align: center;
    padding: 40px 24px;
  }
  &__functionning-banner {
    padding: 40px 24px;
  }
  /* padding is not DRY */
  &__restaurants {
    padding: 40px 24px;
  }
}
