// Loader animation
@keyframes loader {
  100% {
    z-index: -1;
    opacity: 0;
  }
}

// Spinner animation
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    display: none;
  }
}

// Menu display animation
@keyframes progressive-display {
  0% {
    opacity: 0;
    transform: translateY(40%);

  }
  100% {
    opacity: 1;
  }
}
