button {
  display: block;
  color: white;
  font-size: 16px;
  margin: 16px auto;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(176deg, $pink 3%, $purple 97%);
  box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.1);
}
