button {
  display: block;
  color: white;
  font-size: 16px;
  margin: 16px auto;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background: linear-gradient(176deg, $secondary-color 3%, $primary-color 97%);
  @include box-shadow;
}
